<footer class="container-footer">
  <a class="btn-footer" id="go-footer" href="index.html">
    <img src="./assets/images/ico-arrow.svg" alt="icon-arrow" />
  </a>

  <div class="content-footer">
    <nav>
      <ul class="nav-content-list uppercase">
        <li><a class="nav-link" href="https://adalab.es/" target="_blank">articles</a></li>
        <li><a class="nav-link" href="https://adalab.es/" target="_blank">books</a></li>
        <li><a class="nav-link" href="https://adalab.es/" target="_blank">events</a></li>
        <li><a class="nav-link" href="https://adalab.es/" target="_blank">reasons</a></li>
        <li><a class="nav-link" href="https://adalab.es/" target="_blank">tips</a></li>
      </ul>
    </nav>

    <nav>
      <ul class="nav-social-list uppercase">
        <li><a class="nav-link" href="https://adalab.es/" target="_blank">twitter</a></li>
        <li><a class="nav-link" href="https://adalab.es/" target="_blank">instagram</a></li>
        <li><a class="nav-link" href="https://adalab.es/" target="_blank">mastodonte.social</a></li>
      </ul>
    </nav>

    <small class="copy">
      &copy;2017
      <span>we❤️components</span>
    </small>
  </div>
</footer>
