<footer>
  <button class="go-header" href="#go-header">
    <img src="./assets/images/ico-arrow.svg" alt="icon-arrow" />
  </button>

  <nav class="nav-content">
    <ul class="nav-content-list">
      <li>
        <a class="nav-content-list-article" href="#" target="_blank" href="#" target="_blank">articles</a>
      </li>
      <li><a class="nav-content-list-books" href="#">books</a></li>
      <li><a class="nav-content-list-events" href="#" target="_blank">events</a></li>
      <li>
        <a class="nav-content-list-reasons" href="#" target="_blank">reasons</a>
      </li>
      <li><a class="nav-content-list-tips" href="#" target="_blank">tips</a></li>
    </ul>
  </nav>

  <nav class="nav-social">
    <ul class="nav-social-list">
      <li>
        <a class="nav-social-list-twitter" href="#" target="_blank">twitter</a>
      </li>
      <li>
        <a class="nav-social-list-instagram" href="#" target="_blank">instagram</a>
      </li>
      <li>
        <a class="nav-social-list-mastodonte.social" href="#" target="_blank">mastodonte.social</a>
      </li>
    </ul>
  </nav>
  <small>
    &copy;2017
    <span>we ❤️ components</span>
  </small>
</footer>
