<header class="header">
  <a class="icon-menu" href="https://adalab.es/" target="_blank">
    <img src="./assets/images/ico-menu.svg" alt="icon-menu" />
  </a>

  <div class="hero">
    <h1 class="hero-title uppercase">anonymous proxy</h1>
    <span class="hero-text">In hac habitasse platea dictumst</span>

    <a class="btn-header" id="go-header" href="index.html#go-section-secondary">
      <img src="./assets/images/ico-scroll-down.svg" alt="icon-scroll-down" />
    </a>
  </div>
</header>
