<section class="section-secondary">
  <h2 class="section-secondary-title uppercase">3 reason to purchase</h2>

  <div class="section-secondary-box1">
    <h3>ud sed metus</h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur quae laboriosam minima temporibus.
    </p>
  </div>

  <div class="section-secondary-box2">
    <h3>ud sed metus</h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur quae laboriosam minima temporibus.
    </p>
  </div>

  <div class="section-secondary-box3">
    <h3>ud sed metus</h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur quae laboriosam minima temporibus.
    </p>
  </div>
</section>
