<section class="section-secondary" id="go-section-secondary">
  <h2 class="section-secondary-title capitalize">3 reason to purchase</h2>

  <div class="section-secondary-box1">
    <h3 class="section-secondary-box-title">Ud sed metus</h3>
    <p class="section-secondary-box-text">
      Lorem ipsum dolor sit amet, consecteur.
    </p>
  </div>

  <div class="section-secondary-box2">
    <h3 class="section-secondary-box-title">Curabitur ac erat</h3>
    <p class="section-secondary-box-text">
      Mauris mattis urna quis lorem molestie.
    </p>
  </div>

  <div class="section-secondary-box3">
    <h3 class="section-secondary-box-title">Morbi dictum</h3>
    <p class="section-secondary-box-text">
      Aliquam in dolor et dolor tincidunt.
    </p>
  </div>
  <button class="more-reasons">More reasons</button>
</section>
