.container-footer {
  padding: 60px 15px 60px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #304268;
}

.btn-footer {
  position: relative;
  top: -80px;
  display: flex;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: white;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.content-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-content-list {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  list-style: none;
}

.nav-social-list {
  padding-top: 30px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  list-style: none;
}

.copy {
  padding-top: 30px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 2.14;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

@media all and (min-width: 768px) {
  .content-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .copy {
    padding: 0px;
    text-align: left;
    align-items: flex-start;
    order: -1;
  }

  .nav-content-list {
    text-align: left;
  }

  .nav-social-list {
    padding: 0px;
    text-align: left;
  }
}

@media all and (min-width: 1200px) {
  .content-footer {
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .copy {
    padding: 0px;
    text-align: left;
    align-items: flex-start;
    order: -1;
  }

  .nav-content-list {
    text-align: left;
  }

  .nav-social-list {
    padding: 0px;
    text-align: left;
  }
}
