.section-secondary {
  padding: 30px 15px 60px 15px;
  display: grid;
  background-color: #eff9ff;
}

.section-secondary-title {
  grid-column: span 4;
  font-family: Roboto Slab;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  text-align: center;
  color: black;
}

.section-secondary-box-title {
  height: 30px;
  font-family: Roboto Slab;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  text-align: center;
  color: black;
}

.section-secondary-box-text {
  height: 63px;
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.67;
  text-align: center;
  color: black;
}

.section-secondary-box1 {
  grid-column: span 4;
}

.section-secondary-box2 {
  grid-column: span 4;
}

.section-secondary-box3 {
  grid-column: span 4;
}

.more-reasons-button {
  grid-column: span 4;
  width: 184px;
  height: 45px;
  border-radius: 22.5px;
  background-color: #f26002;
}

.more-reasons-text {
  width: 124px;
  height: 45px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 2.25;
  text-align: center;
  color: white;
}

@media all and (min-width: 768px) {
  .section-secondary-box1 {
    grid-column: 1 / 4;
  }

  .section-secondary-box2 {
    grid-column: 4 / 8;
  }

  .section-secondary-box3 {
    grid-column: 8 / 12;
  }
}
