.section-secondary {
  padding: 30px 15px 60px 15px;
  display: grid;
  row-gap: 45px;
  background-color: #eff9ff;
  grid-template-columns: 1fr 1fr 1fr;
}

.section-secondary-title {
  grid-column: 1 / 4;
  font-family: Roboto Slab;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  text-align: center;
  color: black;
}

.section-secondary-box-title {
  font-family: Roboto Slab;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  text-align: center;
  color: black;
}

.section-secondary-box-text {
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.67;
  text-align: center;
  color: black;
}

.section-secondary-box1 {
  grid-column: 1 / 4;
}

.section-secondary-box2 {
  grid-column: 1 / 4;
}

.section-secondary-box3 {
  grid-column: 1 / 4;
}

.more-reasons-button {
  margin: auto;
  grid-column: 1 / 4;
  width: 184px;
  height: 45px;
  border-radius: 22.5px;
  background-color: #f26002;
  text-align: center;
}

.more-reasons-text {
  width: 124px;
  height: 45px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 2.25;
  color: white;
}

@media all and (min-width: 768px) {
  .section-secondary {
    column-gap: 27.5px;
    row-gap: 60px;
  }

  .section-secondary-box1 {
    grid-column: 1 / 2;
  }

  .section-secondary-box2 {
    grid-column: 2 / 3;
  }

  .section-secondary-box3 {
    grid-column: 3 / 4;
  }
}

@media all and (min-width: 1200x) {
  .section-secondary {
    column-gap: 26.2px;
    row-gap: 60px;
  }

  .section-secondary-box1 {
    grid-column: 1 / 2;
  }

  .section-secondary-box2 {
    grid-column: 2 / 3;
  }

  .section-secondary-box3 {
    grid-column: 3 / 4;
  }
}
