.section-primary {
  padding: 30px 15px 45px 15px;
  display: flex;
  flex-direction: column;
  background-color: tomato;
}

.section-primary-subtitle {
  padding-bottom: 1px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 2.14;
  color: #8ccbea;
}

.section-primary-title {
  padding-bottom: 15px;
  font-family: RobotoSlab;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  color: black;
}

.section-primary-text {
  padding-bottom: 30px;
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.67;
  color: #4a4a4a;
}

.go-button {
  width: 76px;
  height: 45px;
  border-radius: 22.5px;
  border: solid 2px #f26002;
}

.go-text {
  width: 25px;
  height: 45px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 2.25;
  text-align: center;
  color: #f26002;
}
